<header>
  <h1>
    <img src='../../../../assets/logo.svg' alt='logo'>
  </h1>

  <div class="current">
    <div class="current-price">
      <span class="current-price-label">SAFEMOON/USDT</span>
      <span class="current-price-value">0.000000024</span>
    </div>

    <div class="divider"></div>

    <div class="current-volume">
      <span class="current-volume-label">VOLUMEN</span>
      <span class="current-volume-value">24.2M</span>
    </div>
  </div>

  <div class="divider"></div>

  <app-safemoon-ref></app-safemoon-ref>
</header>

