<header>
  <div class="route-header">
    <i class="route-header-icon" [ngClass]="(icon$ | async) || ''"></i>
    <h2 class="route-header-text">{{title$ | async}}</h2>
  </div>

  <div class="current">
    <div class="current-price">
      <span class="current-price-label">SAFEMOON/USDT:</span>
      <span class="current-price-value">0.000000024</span>
    </div>

    <div class="current-volume">
      <span class="current-volume-label">Volumen:</span>
      <span class="current-volume-value">24.2M</span>
    </div>
  </div>

  <ng-content select="app-notification"></ng-content>
  <app-safemoon-ref></app-safemoon-ref>
  <div class="divider-overlay">
    <app-divider></app-divider>
  </div>
</header>

