<div class="overlay">
  <section>
    <h2 class="sr-only">Whales</h2>
    <h3>Daily report</h3>
    <app-alert type="danger">Whales today sold 2T of safemoon tokens</app-alert>
  </section>

  <section class="top-whales">

    <ul class="nav">
      <li >
        <a class="active">Only whales</a>
      </li>
      <li>
        <a>With exchanges</a>
      </li>
    </ul>


    <h3>Top 10</h3>
    <ul>
      <li>
        <app-alert>
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="danger">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="success">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert>
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="danger">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="success">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert>
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="danger">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="success">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert>
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="danger">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
      <li>
        <app-alert type="success">
          <div class="whale-alert-template">
            <div class="address">
              <div class="label">Address</div>
              <div class="value">0x79c4af7c43f500b9ccba9396d079cc03dfcafda1</div>
            </div>
            <div class="balance">
              <div class="label">Balance</div>
              <div class="value">12T</div>
            </div>
            <div class="change">
              <div class="label">Change</div>
              <div class="value">+24B</div>
            </div>
          </div>
        </app-alert>
      </li>
    </ul>
  </section>

</div>
