.overlay {
  padding: 0 100px;
  margin: auto;
  width: 1200px;

  .top-whales {

    .nav {
      display: inline-flex;
      margin-top: 25px;
      a {
        padding: 12px;
        display: block;
        border-bottom: 3px solid rgba(6, 141, 135, 0.2);
        &.active {
          border-bottom-color: #068D87;
        }
      }
    }

    app-tab-group {
      margin: 25px 0 45px 0;
      display: block;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
      }
    }

    app-alert {
      margin-bottom: 25px;
      display: block;
    }

    .whale-alert-template {
      display: flex;
      width: 100%;

      .label {
        color: rgba(255, 255, 255, .5);
        font-size: 12px;
      }

      .value {
        font-size: 14px;
      }

      .balance {
        margin-left: auto;
        margin-right: 25px;
      }

    }
  }

}

.sr-only {
  visibility: hidden;
  height: 0;
  display: block;
}

.layer {
  display: flex;
  width: 100%;
  padding-top: 45px;
  flex-direction: row-reverse;

  .top-whales {
    width: 1000px;
  }

  .widgets {
    width: 410px;
  }

  .widgets .sticky-layer {
    position: sticky;
    justify-content: space-around;
    top: 0;

    .widget {
      width: 80%;
      height: 150px;
      display: flex;
      align-content: center;
      justify-content: center;
      color: #fff;
      background: rgb(47 47 47 / 12%);
      border-radius: 5px;
      border: 1px solid rgb(255 255 255 / 48%);
      flex-direction: column;
      text-align: center;
      margin: 0 auto 25px;
      overflow: hidden;

      .divider {
        width: calc(100% - 20px);
        margin: 20px auto;
        background: rgba(255,255,255,0.1);
        height: 1px;
      }

      .widget-header {
        font-size: 1.6rem;
        position: relative;


        .icon-whale {
          margin-right: 10px;
          position: absolute;
          left: -30px;
          font-size: 100px;
          top: -60px;
          transform: rotate(
              45deg
          );
          color: #737373;
        }

      }

    }

  }
}
