<div class="overlay">
  <section>
    <h2 class="sr-only">Whales</h2>
    <h3>Daily report</h3>

    <ng-container *ngIf="dailyReport$ | async as dailyReport">
      <app-alert *ngIf="dailyReport.balance[0] === '-'" type="danger">Whales today sold {{dailyReport.balance | appBigNumber}} of safemoon tokens</app-alert>
      <app-alert *ngIf="dailyReport.balance[0] !== '-'" type="success">Whales today bought {{dailyReport.balance | appBigNumber}} of safemoon tokens</app-alert>
    </ng-container>
  </section>

  <div class="layer">
    <div class="widgets">
      <div class="sticky-layer">
        <div class="widget">
          <div class="widget-header">
            <i class="icon-whale"></i>
            <span>Top 10</span>
          </div>
          <div class="divider"></div>
          <div class="widget-content">
            Owns 11.4% tokens
          </div>
        </div>
        <div class="widget">
          <div class="widget-header">
            <i class="icon-whale"></i>
            <span>Top 25</span>
          </div>
          <div class="divider"></div>
          <div class="widget-content">
            Owns 11.4% tokens
          </div>
        </div>
      </div>

    </div>

    <section class="top-whales">

      <app-tab-group (tabChanged)="onTabChanged($event)">
        <app-tab [isActive]="true" [id]="'whales'">Only whales</app-tab>
        <app-tab [disabled]="true" [id]="'exchanges'">With exchanges</app-tab>
      </app-tab-group>

      <h3>Top 10</h3>
      <ul>
        <li *ngFor="let whale of data$ | async">
          <app-alert [type]="whale.change[0] === '-' ? 'danger' : 'success'">
            <div class="whale-alert-template">
              <i></i>
              <div class="address">
                <div class="label">Address</div>
                <div class="value">{{whale.address}}</div>
              </div>
              <div class="balance">
                <div class="label">Balance</div>
                <div class="value">{{whale.balance | appBigNumber}}</div>
              </div>
              <div class="change">
                <div class="label">Change</div>
                <div class="value">{{whale.change | appBigNumber}}</div>
              </div>
            </div>
          </app-alert>
        </li>
      </ul>
    </section>
  </div>

</div>
